<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>JUMP | Nossa História</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/global.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/historia.css">
    
</head>
<body>
<header class="header">
    <img src="img/jump_logo.png" height="80px" width="250px">
    <nav>
        <ul class="menu">
            <li><a href="index.html">HOME</a></li>
            <li><a href="salto-duplo.html">SALTOS DUPLOS</a></li>
            <li><a href="passeio-balao.html">PASSEIO DE BALÃO</a></li>
            <li><a href="historia.html">NOSSA HISTÓRIA</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="login">
            <li><img src="img/login-cadastro.png" height="20px" width="20px"></li>
            <li><a href="login.html">LOGIN</a></li>
            <li><a href="cadastro-usuario.html">CADASTRO</a></li>
        </ul>
    </nav>
</header>
<div id="container">





    <div id="titulo">
        <h4>NOSSA EQUIPE DE DOIDOS</h4>
    </div>
    <section id="section01">
        <div>Pablo Vavrik (SABIÁ), paraquedista, programador e professor de educação física nas horas vagas. Com mais de 2 mil saltos de paraquedas, Pablo tem experiência e total conhecimento para te acompanhar durante o salto.</div>
        <img src="img/p1.png">
    </section>
    <section id="section02">
        <img src="img/p2.png">
        <div>Uatila Santos (KAMIKAZE), paraquedista e programador, com mais de 2500 saltos de paraquedas em sua carreira. Mimistra treinamentos para pessoas que queiram saltar sozinhos de paraquedas, formou mais de 180 novos paraquedistas.</div>
    </section>
    <section id="section03">
        <div>Thainá Santos (THAINÁ DO BALÃO), paraquedista, balonista e progrtamadora. Com mais de 2 mil horas de voo de balão e mais de 2000 mil saltos de paraquedas, Thainá é a pessoa perfeita para conduzir seu passeio de balão.</div>
        <img src="img/p3.png">
    </section>
    <section id="section04">
        <img src="img/p4.png">
        <div>Lucas Silva (CORINTHIANO), paraquedista e programador, Lucas possui mais de 2500 saltos, tem grande experiência em salvamentos e iniciou sua carreira no exército no pelotão de paraquedismo.</div>
    </section>




    
<footer>
    <div id="footer_content">
        <div id="footer_contacts">
            <h1>JUMP EXPIRENCE</h1>
            <p>Seu senho nas alturas.</p>

            <div id="footer_social_media">
                <a href="#" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#" class="footer-link" id="youtube">
                    <i class="fa-brands fa-youtube"></i>
                </a>

                <a href="#" class="footer-link" id="twitter">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>

            </div>
        </div>


        <div id="footer_subscribe">
            <h3>Newssletter</h3>
            <p>
                Preencha seu e-mail e seja notificado sobre novidades.
            </p>
            <div id="input_group">
                <input type="email" id="email">
                <button>
                    <i class="fa-regular fa-envelope"></i>
                </button>


            </div>
        </div>
    </div>
    <din id="footer_copyright">
        &#169
        2024 Todos os direitos reservados - Jump Esportes Radicais Ltda - CNPJ: 00.111.222/0001-55
    </din>
</footer>

</div>
</body>
</html>