<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>JUMP | HOME</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/home.css'>
    <script src='../js/home.js'></script>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
<div id="sair">
    <input type="button" value="Logout" onclick="sair()" />
</div>
    
</head>

<body>

    <br />

    <table align="center" border="1">
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>CEP</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>Ação</th>
        </tr>    
        <tbody>

        </tbody>
    </table>
    <div id="cadastro">
        <input type="button" value="Cadastrar novo endereço" onclick="window.location='cadastro-endereco.html'" />
    </div>

</body>

</html>