<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>JUMP | Experience | Login</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/login.css'>
    <script src='../js/login.js' defer></script>
    
</head>
<body>
    

    <form>
        <h1 class="titulo">LOGIN</h1>

        <div class="inputs">
            <input id="email" class="nome" type="text" placeholder="Usuário">
            <input id="password" class="senha" type="password" placeholder="Senha">
        </div>

        <div class="Lembrar-senha">

            <div>
                <input type="checkbox" id="Lembrar">
                <label for="Lembrar">Lembrar sua senha?</label>
            </div>

            <a href="#">Esqueci minha senha</a>
        </div>

        <input type="button" id="btn-login" class="btn-login" value="Entrar" onclick="login()"> 

        <p class="cadastre-se">Ainda não possui uma conta? <a href="cadastro-usuario.html">Cadastre-se</a></p>
    </form>
</body>
</html>