<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>JUMP | Salto Duplo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/global.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/salto-duplo.css">
    
</head>
<body>
<header class="header">
    <img src="img/jump_logo.png" height="80px" width="250px">
    <nav>
        <ul class="menu">
            <li><a href="index.html">HOME</a></li>
            <li><a href="salto-duplo.html">SALTOS DUPLOS</a></li>
            <li><a href="passeio-balao.html">PASSEIO DE BALÃO</a></li>
            <li><a href="historia.html">NOSSA HISTÓRIA</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="login">
            <li><img src="img/login-cadastro.png" height="20px" width="20px"></li>
            <li><a href="login.html">LOGIN</a></li>
            <li><a href="cadastro-usuario.html">CADASTRO</a></li>
        </ul>
    </nav>
</header>
<div id="container">


<!--Main-->
    <div id="titulo">
        <h3>PREPARE PARA O SALTO - A MAIOR AVENTURA DA SUA VIDA</h3>
    </div>
    <div id="salto1">
        <section id="section01">
            <img src="img/salto_vip.png">
        </section>
        <section id="section02">
            <div>SALTO VIP: Nessa modalidade acontece acompanhada do instrutor que salta junto com você e um segundo paraquedista que acompanha tirando fotos e gravando o salto. Você receberá a gravação e todas as fotos feitas durante o salto. A gravação tem duração média de 1 minito e 10 segundos, com uma média de 15 fotos.
            </div>
        </section>
        <section id="section03">
            <img src="img/salto_selfie.png">
        </section>
        <section id="section04">
            <div>SALTO SELFIE: Nessa modalidade você salta acompanhada do instrutor, onde ele grava o salto com uma camera de ação presa no braço. Você receberá a gravação feita durante o salto. A gravação tem duração média de 1 minito e 10 segundos.</div>
        </section>
        <section id="section05">
            <img src="img/salto_fun.png">
        </section>
        <section id="section06">
            <div>SALTO FUN: Nessa modalidade você salta acompanhada do instrutor, esse não salto não dá direito a fotos e gravação do salto.</div>
        </section>
    </div>


<!--Footer-->
<footer>
    <div id="footer_content">
        <div id="footer_contacts">
            <h1>JUMP EXPIRENCE</h1>
            <p>Seu senho nas alturas.</p>

            <div id="footer_social_media">
                <a href="#" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#" class="footer-link" id="youtube">
                    <i class="fa-brands fa-youtube"></i>
                </a>

                <a href="#" class="footer-link" id="twitter">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>

            </div>
        </div>


        <div id="footer_subscribe">
            <h3>Newssletter</h3>
            <p>
                Preencha seu e-mail e seja notificado sobre novidades.
            </p>
            <div id="input_group">
                <input type="email" id="email">
                <button>
                    <i class="fa-regular fa-envelope"></i>
                </button>


            </div>
        </div>
    </div>
    <din id="footer_copyright">
        &#169
        2024 Todos os direitos reservados - Jump Esportes Radicais Ltda - CNPJ: 00.111.222/0001-55
    </din>
</footer>

</div>
</body>
</html>